[2017-02-11 06:29] rajeshksv opened #1 "Unable to Build - List of languages empty."
Hi,

While building, I am facing the following error. Can you suggest how to fix it ?

➜  build git:(master) meson .. --prefix /usr
The Meson build system
Version: 0.34.0
Source dir: /home/mac/nautilus-git
Build dir: /home/mac/nautilus-git/build
Build type: native build
Build machine cpu family: x86_64
Build machine cpu: x86_64
Project name: nautilus-git
Native c compiler: cc (gcc 6.2.0-5ubuntu12)

[2017-02-11 10:20] bilelmoussaoui commented on #1
@rajeshksv Should be fixed on master

[2017-02-11 17:40] fbruetting opened #2 "Instant reaction to checkouts"
Would you make this respond to checkouts directly without having to manually reload the folder? That'd be perfect!﻿

[2017-02-11 19:12] fbruetting opened #3 "Build prefix"
• Isn't it possible to work with regular build prefix "/usr/local/"? I tried and it sadly didn't work.
• If it's required to specify the "/usr" prefix, could you add this please to the Meson config? Otherwise people just run `meson ..` and wonder why it doesn't work… until they read the README file.

[2017-02-11 19:16] fbruetting opened #4 "HiDPI scaling"
Here's a screenshot on my UHD screen, would you correct the icon scaling please? (But I must admit, that Fedora has several UI bugs recently, so I'm not sure if this is due to Fedora or your program).

![bildschirmfoto vom 2017-02-11 20-15-17](https://cloud.githubusercontent.com/assets/10520767/22856686/d63ea4ea-f096-11e6-9865-f98356aa0948.png)

[2017-02-11 19:19] fbruetting opened #5 "Support of local repositories"
Hi again, your nice script doesn't work with local repositories. Would you like to support this, too?

[2017-02-11 19:29] fbruetting opened #6 "Theming support"
Big sorry for flooding, but as you see in the screenshots, the Adapta theme highlights all additional appearing top bars in nautilus yellow, but not your top bar. I don't know if it'll be appropriate for your script, and I even don't really know how this works internally, but if you want to have theming support, I think you need to implement those hintings.

![bildschirmfoto vom 2017-02-11 20-21-2

[2017-02-11 22:12] bilelmoussaoui commented on #4
Well, I don't hardcode the icon size at all. I'm using Gtk.IconSize.SMALL_TOOLBAR (=16px) https://github.com/bil-elmoussaoui/nautilus-git/blob/master/nautilus-git/git.py#L138
I think that it's an upstream issue... Anyway, i don't have a UHD screen to test it, but it would be really cool if you can try it with an other distro(Archlinux ?)

[2017-02-11 22:13] fbruetting commented on #4
I can spin up a Debian VM, is this ok?

[2017-02-11 22:14] bilelmoussaoui commented on #4
@fbruetting Perfect ! 👍

[2017-02-11 22:16] bilelmoussaoui commented on #6
I'm not using any specific CSS theming; i'm just using an InfoBar widget with the type OTHER as you can see here https://github.com/bil-elmoussaoui/nautilus-git/blob/master/nautilus-git/git.py#L126
The  Yellow color in Adapata is for the type "QUESTION". Which isn't the type of the information shown by this extension. So, i can't really do anything about it...

[2017-02-11 22:17] bilelmoussaoui commented on #2
Shouldn't be too complicated to implement, should be on master by tomorrow :)

[2017-02-11 22:19] fbruetting commented on #6
Ok, I thought it was a general highlighting, sorry!

[2017-02-11 22:19] bilelmoussaoui commented on #3
@fbruetting I'm going to try to build it on all possible distros out there to avoid users building the package by themselves.  Anyway, the installation method to follow is here : https://github.com/bil-elmoussaoui/nautilus-git#how-to-install
The extension should work perfectly if installed under `$HOME/.local/` as a prefix too! It's must be an upstream issue for Nautilus for not detecting extensio

[2017-02-11 22:19] #3 closed

[2017-02-11 22:21] fbruetting commented on #3
Ok, maybe this is one of my many Fedora issues then, I'll test again in some weeks…

[2017-02-11 22:21] bilelmoussaoui commented on #6
Anyway, it seems that Nautilus use it everywhere even in the template folder instead of using OTHER as a message type :P
You can change that manually pretty easily, and it won't really disturb me to change it to QUESTION type if it will look good with other themes too :)

[2017-02-11 22:23] bilelmoussaoui commented on #3
Please report back once you've tested it! So i will either open an issue upstream or mention that on the readme.

[2017-02-11 22:24] bilelmoussaoui commented on #5
@fbruetting What do you mean by local repos?

[2017-02-11 22:24] #1 closed

[2017-02-11 22:24] bilelmoussaoui commented on #1
Please repoen if you still have this issue :)

[2017-02-12 00:41] bil-elmoussaoui opened #7 "Build and destribute"
- [x] Archlinux (will do it)
- [x] Fedora
- [x] Ubuntu/Debian

[2017-02-12 05:47] rajeshksv commented on #1
Yes the error is fixed :) Done with installation. But I don't see any git info in nautilus. I rebooted the system as well. I am using Ubuntu 16.10 Gnome shell 3.20.4.

When I do nautilus -q it says

Gtk-Message: Failed to load module "$GTK3_MODULES"
sys:1: PyGIWarning: Nautilus was imported without specifying a version first. Use gi.require_version('Nautilus', '3.0') before import to ensure that t

[2017-02-12 10:38] bilelmoussaoui commented on #1
Both of your error messages has nothing to do with my extension. Can you remove build folder and rebuild from scratch and copy paste all outputs for each step please ?

[2017-02-12 10:38] bil-elmoussaoui commented on #1
Both of your error messages has nothing to do with my extension. Can you remove build folder and rebuild from scratch and copy paste all outputs for each step please ?

[2017-02-12 11:01] bilelmoussaoui commented on #6
It seems that Adwaita does not provide any theming for OTHER type of InfoBar message, i will switch to Question as it's used everywhere :)

[2017-02-12 11:21] bilelmoussaoui commented on #2
I tried two approaches to handle this, working fine on my examples (not a Nautilus extension).
The first one was to use a Thread (WatchDog to watch the file under .git called HEAD that points to the current HEAD branch), and it does not work;
so I tried to add a timer and check for those information each 60 seconds but does not work either.

It seems that once you returned the widget to Nautilus i

[2017-02-12 11:23] bilelmoussaoui commented on #2
Here's the current documentation https://projects-old.gnome.org/nautilus-python/documentation/html/class-nautilus-python-location-widget-provider.html
Sadly there's no signal as for MenuItems to tell Nautilus that the widget was updated..
https://projects-old.gnome.org/nautilus-python/documentation/html/class-nautilus-python-menu-provider.html

[2017-02-12 11:25] bilelmoussaoui commented on #6
Fixed

[2017-02-12 11:25] #6 closed

[2017-02-12 13:45] HeikoAdams commented on #7
Fedora Packages are in progress: https://copr.fedorainfracloud.org/coprs/heikoada/nautilus-git/

[2017-02-12 13:47] bilelmoussaoui commented on #7
@HeikoAdams Thanks! Please create a PR with the installation instruction on README file  once it's ready 👍

[2017-02-12 13:57] fbruetting commented on #5
Git repos, which aren't on GitHub, like this one:
![bildschirmfoto vom 2017-02-12 14-56-39](https://cloud.githubusercontent.com/assets/10520767/22862666/7cc3ae7c-f133-11e6-8b0b-0b75b21c9bfc.png)

I only see your added top bar on projects I cloned from GitHub, but on none of my own local projects.

[2017-02-12 14:01] bilelmoussaoui commented on #5
@fbruetting From where did you get this repo? I've tried it even with Archlinux AUR packages (git and it works
![screenshot from 2017-02-12 15-01-12](https://cloud.githubusercontent.com/assets/7660997/22862709/1d232ec4-f134-11e6-88f4-13fc8ecb559e.png)

[2017-02-12 14:03] fbruetting commented on #5
I created it by myself via `git init`…?

[2017-02-12 14:07] fbruetting commented on #2
Seems like the first solution would be the better one, but we need the signal first… do you want to open a bug report for this?

[2017-02-12 14:09] bilelmoussaoui commented on #2
@fbruetting I will open a report upstream and see if things will be improved. The way nautilus plugins works are not really that good. So limited :(

[2017-02-12 14:15] #5 closed

[2017-02-12 14:15] bilelmoussaoui commented on #5
Fixed on master :-)

[2017-02-12 14:30] bilelmoussaoui commented on #5
@fbruetting My bad, this wasn't fixed correctly :P now it's the case :)
![screenshot from 2017-02-12 15-29-59](https://cloud.githubusercontent.com/assets/7660997/22862928/21e81e0c-f138-11e6-9056-81c74a56938f.png)

[2017-02-12 14:32] alex285 commented on #2
@bil-elmoussaoui  if the question is if you should refresh the Nautilus view every(x) seconds, then I say definitely no! Not only sounds bad, but it will scare the users and they wont use it! I'm already scared!

but it would be nice if Nautilus guys were doing something from their side, like moving to Python3 and allow more control in extensions. On the last I dont have idea though, just because

[2017-02-12 14:36] bilelmoussaoui commented on #2
@alex285 Nop, i was going to refresh the view only when it's needed. Ofc,  there will be a watcher to watch the HEAD file, whenever this file is changed it will refresh the view. But it's not really the best way of doing things. I will report an upstream issue and hopefully, we will get more control over the extensions.
Anyway, for now i will implement the refresh view and make it configurable. Un

[2017-02-12 14:36] fbruetting commented on #5
Thanks, I tested it and it works (twice, but saw no difference :P). But now the Git icon now is missing, while it was there yesterday… [Installing Debian in a VM right now].

[2017-02-12 14:37] alex285 commented on #2
@bil-elmoussaoui oh in that case it sounds fine!

[2017-02-12 14:38] bilelmoussaoui commented on #5
@fbruetting nothing changed in that part of code :o when you run Nautilus from terminal do you have any error message?

[2017-02-12 14:39] fbruetting commented on #5
Just the usual stuff:
[code]

But Fedora fucks up constantly in the last time, maybe it's an issue due to this:
![bildschirmfoto vom 2017-02-12 15-39-30](https://cloud.githubusercontent.com/assets/10520767/22863019/76d39986-f139-11e6-89b2-b78a7ea23652.png)

[2017-02-12 14:41] bilelmoussaoui commented on #5
Kill nautilus first, `nautilus -q` and restart it

[2017-02-12 14:45] fbruetting commented on #5
Ok, I actually did both `killall nautilus` and `nautilus -q`, but maybe in the wrong order:
[code]
Now the icon sizes are half size… (but get restored to normal size by Ctrl+R):
![bildschirmfoto vom 2017-02-12 15-44-37](https://cloud.githubusercontent.com/assets/10520767/22863057/2ba181d4-f13a-11e6-8fa0-0e3299f85b0c.png)

Git icon still missing…

[2017-02-12 14:47] bilelmoussaoui commented on #5
No error message will be shown until you're on a git directory. Can you try that? maybe the icon is not loaded correctly. And by the way, i might know why :P I forgot to add a icon theme cache refresh :P

[2017-02-12 14:48] rajeshksv commented on #1
Removed build folder and tried installing again. And it works :+1: May be the build failed due to above bug and then some **** happened. Anyways its working now. Now I wonder how come this plugin functionality isn't default functionality of nautilus in first place ;) Thanks!

[2017-02-12 14:49] bilelmoussaoui commented on #1
@rajeshksv You're welcome 👍

[2017-02-12 14:54] fbruetting commented on #5
No, no error:
[code]

The icon is stored at `/usr/share/icons/hicolor/scalable/status/nautilus-git-symbolic.svg` at my system.

[2017-02-12 14:59] bilelmoussaoui commented on #5
@fbruetting I've added refreshing the icon cache on my latest commit in order to fix this (if it's due to that?)
Have you changed your icon theme? If, so can you paste the content of the index.theme under the theme directory?

[2017-02-12 15:24] fbruetting commented on #5
YES, works again, thanks!

[2017-02-12 15:27] bilelmoussaoui commented on #5
Perfect, happy to hear that :)

[2017-02-12 15:30] fbruetting commented on #4
Ok, this "missing icon" icon is not scaled, but the Git icon is (after your work on refreshing the icon cache). So everything's fine.

[2017-02-12 15:30] #4 closed

[2017-02-12 15:37] bilelmoussaoui commented on #4
Awesome 👍

[2017-02-12 21:44] fbruetting opened #9 "Missing remove/uninstall target"
There's no way for uninstalling the installed files, would you add such a target please?

[2017-02-12 23:16] bilelmoussaoui commented on #9
@fbruetting ofc! i will do that as soon as possible :)

[2017-02-12 23:40] bilelmoussaoui commented on #9
Meson provides a way to remove the installed files using meson uninstall. But that does not work quite correctly if you have already removed the files under build folder. I think i will add a simple bash script that removes the git.py file and the nautilus-git-symbolic icon... i will have to think about it :p

[2017-02-13 01:02] fbruetting commented on #9
Ah, i tried `ninja uninstall` and `ninja remove`, because ninja also installed the files. But `meson uninstall` sadly doesn't work.

[2017-02-22 08:39] bilelmoussaoui commented on #9
I'm back, sorry for the delay! i have been busy with RL :) I think the best way to handle this is to package nautilus-git correctly instead of compiling from source code...
I will anyway provide a bash script to remove it :)

[2017-02-22 09:04] #9 closed

[2017-02-22 09:05] bilelmoussaoui commented on #9
Done! https://github.com/bil-elmoussaoui/nautilus-git#how-to-uninstall

[2017-02-22 09:12] bilelmoussaoui commented on #7
@HeikoAdams Any news?
@khurshid-alam Do you have some free time to take care of the PPA packaging? That would be really awesome!

[2017-02-22 12:07] HeikoAdams commented on #7
@bil-elmoussaoui yes. Packages are built and copr is ready for usage. Sorry, but I was very busy last days.

[2017-02-22 13:03] bilelmoussaoui commented on #7
@HeikoAdams Thanks! I've added the installation method on the README! Please feel free to update it or modify whatever you want :)

[2017-02-22 13:17] khurshid-alam commented on #7
@bil-elmoussaoui Yes. Right now I am very busy. I will take a look this weekend. BTW what should be the package version? 0.1?

[2017-02-22 13:22] bilelmoussaoui commented on #7
I will release a version on Github to make it easier for you :) but should be 0.1! And take your time

[2017-02-28 12:31] bilelmoussaoui commented on #7
@khurshid-alam I've created a new release (v1.0)

[2017-02-28 16:19] khurshid-alam commented on #7
PPA is already available under: https://launchpad.net/~khurshid-alam/+archive/ubuntu/nautilus-git

I will change the version soon.

[2017-03-01 11:04] bilelmoussaoui commented on #7
Thank you guys! This is done 👍

[2017-03-01 11:04] #7 closed

[2017-03-08 19:55] fbruetting commented on #2
Is it possible to get hooks into inodes, so that a function gets executed if the file is altered?

[2017-03-08 20:03] fbruetting opened #10 "Strange output when opening "other locations" in Nautilus"
[code]

[2017-03-08 23:27] bilelmoussaoui commented on #10
I will fix that soon :)  Thanks for reporting

[2017-03-08 23:28] bilelmoussaoui commented on #2
@fbruetting I'm looking for a way to do this, but i'm very busy those last days. I will fix this as soon as i find a way that won't add another dependency to the extension

[2017-03-09 11:45] bilelmoussaoui commented on #10
Fixed on master, i will push a new update right now !

[2017-03-09 11:45] #10 closed

[2017-04-08 13:40] fbruetting commented on #2
Does this help?
https://en.wikipedia.org/wiki/Inotify

[2017-04-10 18:19] dralley opened #11 "Fedora COPR package is broken"
At least with Fedora 25, I have not tried other versions.  It also does not appropriately declare nautilus-python a dependency.  Even after installing this it does not work however.

[2017-04-10 18:26] bilelmoussaoui commented on #11
Sorry, but i'm not the package maintainer of the Fedora COPR package. So i can't fix it.
When you run those from terminal what happens?
[code]
Please paste the output here. Thanks!

[2017-04-10 18:26] bilelmoussaoui commented on #11
@HeikoAdams Any idea about the COPR package? Sorry for the ping :)

[2017-04-10 18:30] dralley commented on #11
@bil-elmoussaoui There's no output

[2017-04-10 18:32] HeikoAdams commented on #11
nautilus-python **is** declared as a dependency for tilix-nautilus:

[code]

[2017-04-10 18:37] dralley commented on #11
@HeikoAdams But not nautilus-git.  My problem has nothing to do with tilix-nautilus.

nautilus-git.spec:
[code]

[2017-04-10 18:42] dralley commented on #11
@bil-elmoussaoui I installed from source and it seems to work fine, so it's just the COPR.  You can close the issue if you like.

[2017-04-10 18:44] bilelmoussaoui commented on #11
@dralley Thanks! I will close this and hope @HeikoAdams will fix it pretty soon :+1:

[2017-04-10 18:44] #11 closed

[2017-04-10 18:44] bilelmoussaoui commented on #2
@fbruetting Will see what can i do pretty soon ! :+1:

[2017-04-10 18:54] dralley opened #12 "Warning message: "Nautilus" imported without specifying a version first"
Warning message when ```nautilus``` is run from the terminal

[code]

[2017-04-10 18:57] bilelmoussaoui commented on #12
Has nothing to do with my extension https://github.com/bil-elmoussaoui/nautilus-git/blob/master/nautilus-git/git.py#L29

[2017-04-12 04:51] #12 closed

[2017-04-20 14:34] bilelmoussaoui commented on #7
@khurshid-alam @HeikoAdams I've released a new version (1.2)! Can you please update the packages? Than you very much!

[2017-04-20 15:11] bilelmoussaoui commented on #2
@fbruetting Sorry for the delay :) it's not the watcher who causes the problem! I still didn't find a way to execute "F5" in order to refresh the current window...

[2017-04-21 09:23] patriziobruno opened #14 "side-by-side diff view"
Would be great to have a side-by-side view for diffs, as that format is easier to read than the unified format.

[2017-04-21 11:07] khurshid-alam commented on #7
@bil-elmoussaoui Done!

[2017-04-22 14:33] jp7677 opened #15 "Git info bar is higher than other nautilus info bars"
Hi there,
Thanks for this cool nautilus extension. On my system the git bar is slightly higher than other nautilus bars. Would be cool if the height would be somewhat less to match the other info bars. See screenshot for what I mean.
![screenshot from 2017-04-22 16-30-06](https://cloud.githubusercontent.com/assets/17219293/25305318/641a9436-2779-11e7-8475-351062b805f7.png)

Regards,
jens

[2017-04-22 22:08] bilelmoussaoui commented on #15
I will take care of that :) Thanks for reporting !

[2017-04-22 23:19] bilelmoussaoui commented on #15
Can you compare the Info bar of the trash folder? The info bar on templates folder doesn't contain any Gtk.Button, which is the reason why it looks much more smaller then the git one

[2017-04-23 08:25] jp7677 commented on #15
Ah ok, yes, the trash info bar is indeed also much higher than the templates bar, though still some pixels smaller than the git bar.
![screenshot from 2017-04-23 10-21-40](https://cloud.githubusercontent.com/assets/17219293/25312045/e9b51c20-280e-11e7-8f4c-4483d6aba948.png)

![screenshot from 2017-04-23 10-24-34](https://cloud.githubusercontent.com/assets/17219293/25312049/13bfb98a-280f-11e7-9223-

[2017-04-23 08:27] jp7677 commented on #15
Feel free to close this issue if you want to keep it like it is, I can certainly very well become used to the current appearance ;)

[2017-04-23 18:24] fbruetting commented on #2
Wouldn't it be better to implement this feature in Nautilus directly, so that the window gets refreshed every time there's a change in the current directory? I sometimes have the problem, that I have to refresh Nautilus manually. So this problem then should be resolved for all cases. :)

[2017-04-23 18:33] bilelmoussaoui commented on #2
Well, that would be much much better...Do you want to create an upstream issue for that?

[2017-04-23 18:58] fbruetting commented on #2
There are lots of bug reports regarding refreshing Nautilus, think another bug report would be useless… In general, the Gnome guys don't really care about bug reports overall. :(

[2017-05-01 21:09] fbruetting commented on #14
You could include the relevant code from Meld. Maybe there's even a library for that! :)

[2017-05-01 21:56] bilelmoussaoui commented on #14
@fbruetting I didn't have the time to take a look at how to handle this :) git already provide a bash command to run your favorite diff tool  (like meld). at worst i will just make it do the same instead of creating a widget from scratch that handles this specific case

[2017-05-01 22:50] fbruetting commented on #14
Was just an idea, wasn't sure if you knew Meld! :)

[2017-05-20 15:57] bilelmoussaoui commented on #15
Sorry for the long delay, i tried to reduce it's size but it's not possible due to the use of a Gtk.Button :+1:

[2017-05-20 15:57] #15 closed

[2017-05-29 22:01] worldofpeace opened #16 "Choose Branch Menu Always in center of screen."
OS: Arch Linux
Installed From: AUR
nautilus-git version: 1.2

When I click the current branch GtkButton that opens the window to switch the branch, it is always at the center of the screen.
![screenshot from 2017-05-29 17-55-59](https://cloud.githubusercontent.com/assets/28888242/26562845/3b178026-4498-11e7-8e12-175833fe9445.png)

The correct behaviour would be for the window to appear in the cent

[2017-05-29 22:09] #16 closed

[2017-05-29 22:09] bilelmoussaoui commented on #16
Fixed on master

[2017-05-29 23:57] bilelmoussaoui commented on #2
Fixed on master! Nautilus git now auto refresh the page on checkout (either using terminal or built in widget to change the current branch)

[2017-05-29 23:57] #2 closed

[2017-05-29 23:59] bil-elmoussaoui opened #17 "Code cleaning"
The code, for now, is a mess. Too much-repeated stuff. Need some refactoring

[2017-05-30 00:00] bil-elmoussaoui opened #18 "Create an appdata file"
I think i should implement an appdata file just in case Gnome Software supports Nautilus extensions in the future!

[2017-05-30 11:49] alex285 commented on #2
it doesnt seem work here

reproduce
1. i open nautilus to a project in master branch
2. from terminal i switch branch
3. in nautilus the branch still remains on master

[2017-05-30 11:50] bilelmoussaoui commented on #2
Can you open Nautilus from terminal and paste the output here?

[2017-05-30 11:53] alex285 commented on #2
@bil-elmoussaoui

sys:1: PyGIWarning: Nautilus was imported without specifying a version first. Use gi.require_version('Nautilus', '3.0') before import to ensure that the right version gets loaded.
Number of files is 0
Number of files is 0

** (nautilus:15906): CRITICAL **: nautilus_menu_provider_get_background_items: assertion 'NAUTILUS_IS_MENU_PROVIDER (provider)' failed
Number of files is 0
Num

[2017-05-30 11:54] alex285 commented on #2
@bil-elmoussaoui how can i see the location of the plugin that Nautilus is loading?

[2017-05-30 12:00] bilelmoussaoui commented on #2
@alex285 you can't do that =p but it works here using Nautilus 3.25.1 too...

[2017-06-01 22:42] slgobinath opened #20 "Support Nemo file manager"
Hi,
First of all, thanks a lot for this great extension and I find it really useful and must to have. I use Linux Mint so converted your extension to Nemo. Just replacing all the `Nautilus` to `Nemo` in the `git.py` did the magic. According to my preliminary testings, it seems to work without any issues in Linux Mint 18.1 with Nemo 3.2.2.
Do you have any idea to support Nemo? If so, I will send a

[2017-06-01 22:47] bilelmoussaoui commented on #20
Hey,
Thanks for your kind words! Yeah, i would love to support nemo even if i don't use it at all....
I think the best way to deal with that is to keep it in the same directory. Just rename the git.py to nautilus-git & add a nemo-git.py
Sadly, the nautilusPython extension does not allow to import files from either site-packages or whatever you want :p unless you use imp.load_source :/

I will figu

[2017-06-01 22:53] bilelmoussaoui commented on #20
I will create a beta branch where you can push your code right now :+1:

[2017-06-01 22:58] slgobinath commented on #20
It's nice to hear that.
I didn't use meson to build the extension. Instead, I manually copy and pasted the `git.py` into
[code]
`nemo-python` is required for Nemo.
I'll send you the PR soon with the changes I've made so far.

[2017-06-01 23:05] bilelmoussaoui commented on #20
Here you go, please submit your patch to the beta branch
the code does not work yet as i've just restructured the code a little bit and nothing is working (missing imports...)
Here's what should be added
https://github.com/bil-elmoussaoui/nautilus-git/blob/beta/nautilus-git/git.py

And i've already implemented the nemo support on meson , so you won't have to worry about that :)
 https://github.com

[2017-06-01 23:27] slgobinath commented on #20
I've sent the PR https://github.com/bil-elmoussaoui/nautilus-git/pull/21. As you've mentioned this code doesn't work.

[2017-06-01 23:57] bilelmoussaoui commented on #20
Thanks again @slgobinath, i'm going to close this as your PR is already on the beta branch, which helpfully will land on master this weekend/next week!

[2017-06-01 23:57] #20 closed

[2017-06-02 00:58] #18 closed

[2017-06-02 00:58] bilelmoussaoui commented on #18
Fixed thanks to @rickybas

[2017-06-02 07:09] #17 closed

[2017-06-02 07:12] bilelmoussaoui commented on #7
Hey guys, i've just released a new version which adds nemo support! You will have to create a new package for it.
Just take a look at the readme, i explained how to build for Nemo/Nautilus, build system by default uses Nautilus.

Thank you very much!

[2017-06-03 06:09] khurshid-alam commented on #7
@bil-elmoussaoui  Debhelper doesn't support meson properly yet. So the latest commit made the PPA broken for all older Ubuntu versions.

[2017-06-03 15:33] phocean opened #25 "ninja install failing (msgfmt ITS rules issue)"
Hi,

I am on openSUSE Tumbleweed, so I am installing from source.

It fails on:

[code]

The message is cryptic to me, sorry.

[2017-06-03 15:59] bilelmoussaoui commented on #25
As i'm not an expert with gettext and all the translations stuff, i will redirect you to this issue https://github.com/mesonbuild/meson/issues/1565
it seems that you have some missing its files.

[2017-06-03 17:43] TingPing commented on #25
Have `gettext >= 0.19.6` and have the dev package for `libappstream-glib` installed.

[2017-06-03 20:16] phocean commented on #25
Thank you. But I have libappstream-glib8 and gettext version 0.19.8.1 (tumbleweed is very up-to-date as it is the rolling release).

Here is what I have in the its folder:

[code]

Do you have more files ?

[2017-06-03 20:41] bilelmoussaoui commented on #25
@phocean Yep
[code]

[2017-06-03 21:00] TingPing commented on #25
I specifically said the dev package because most distros split the itstool files out.

[2017-06-04 01:13] bil-elmoussaoui opened #27 "Get ride of git"
For now, i use git in order to get every information needed. Which is not perfect as i've to always parse the output in order to get the right information that i want to use.

Implementing a simple git-python library would be great. Shouldn't do too much:
- init (will add a shortcut to init a new repository in the future)
- status (used to in diff view & the counter of added/modified/removed files

[2017-06-04 01:15] bilelmoussaoui commented on #14
@fbruetting There's a built-in library that does handle the diff in python :) shouldn't be too hard to implement. Meld code is so overcomplicated and there's no way to use just their widget...

[2017-06-04 01:51] phocean commented on #25
Hmm, it seems I am doomed.
For instance:

`% zypper search --provides --match-exact "/usr/share/gettext/its/appdata.its"`

returns nothing.

And the distribution does not seem to have a libappstream-glib8 devel package. I will try to get the info from an openSUSE source...

[2017-06-04 02:16] bilelmoussaoui commented on #25
@phocean I've never used openSUSE before, I can't help you with that. Anyway, if you find which package was missing can you write a comment here with the package name? for future openSUSE users.
Closing

[2017-06-04 02:16] #25 closed

[2017-06-04 02:18] TingPing commented on #25
Many GNOME projects have been moving from `intltool` to `gettext` this past year, so I'm not sure it makes sense to not be packaged.

[2017-06-04 03:41] lorenzadam opened #28 "Need refresh when there is a change in the file"
Every time you make changes and want to see what changes happen we need to refresh the folder first.

[2017-06-04 04:09] bilelmoussaoui commented on #28
Yeah, there's already a refresh whenever you change the branch. And I don't want to refresh Nautilus each x seconds. As Nautilus doesn't provide a way to only refresh the added widget by this extension. Also, git doesn't store any information about modified files until they are stagged, before that i can't know which file was modified unless i add a watcher for each file under git directory which

[2017-06-09 08:54] CircleCode opened #30 "last meson usage update broke aur package"
it seems meson builds `/usr/share/icons/hicolor/icon-theme.cache` again, preventing installation (see https://aur.archlinux.org/packages/nautilus-ext-git/)

[2017-06-09 13:58] bilelmoussaoui commented on #30
I will see what can i do as soon as possible :)

[2017-06-09 18:12] bilelmoussaoui commented on #14
Not finished yet but looks fine for now :+1:
![screenshot from 2017-06-09 20-11-55](https://user-images.githubusercontent.com/7660997/26988494-f7d13922-4d4f-11e7-8ed9-0c601d2a254f.png)

[2017-06-12 16:12] skad opened #31 "Error where there are space or ' char in the folder name"
`Traceback (most recent call last):
  File "/usr/share/nautilus-python/extensions/git.py", line 60, in get_widget
    if utils.is_git(uri):
  File "/usr/share/nautilus-git/src/utils.py", line 38, in is_git
    folder_path).lower()
  File "/usr/share/nautilus-git/src/utils.py", line 59, in execute
    stderr=PIPE, cwd=working_dir)
  File "/usr/lib/python2.7/subprocess.py", line 390, in __init__

[2017-06-12 16:14] bilelmoussaoui commented on #31
I will fix that on the next release! Thanks for pointing that out :+1:

[2017-06-12 16:15] geekosaurusR3x commented on #31
Thank :)

[2017-06-15 00:59] bilelmoussaoui commented on #30
I've just pushed a fix to the AUR repository. Should be fixed now

[2017-06-15 00:59] #30 closed

[2017-06-15 05:58] CircleCode commented on #30
I confirm this is fixed, thanks

[2017-06-15 20:45] bilelmoussaoui commented on #14
i've had some time today to work on this, and it looks much better
![screenshot from 2017-06-15 22-42-06](https://user-images.githubusercontent.com/7660997/27200997-3fcdb1d0-521c-11e7-9f90-4dbc69e9f267.png)

but not that smart  :p  (not ready yet)
![screenshot from 2017-06-15 22-43-07](https://user-images.githubusercontent.com/7660997/27201015-56e7accc-521c-11e7-8f7f-4d9bdc57a15a.png)

[2017-06-18 06:14] phocean commented on #25
Hi, problem solved with installing `appstream-glib-devel`.

I don't know why I missed this package the other time, probably got confused by the naming.
Thank you for the hints and keep up the good work ;-)

[2017-06-19 11:38] vlktomas opened #33 "Git information not displayed"
Hi I just installed extension but nothing is shown in directories with git repository. I have Ubuntu 14.04 and Nautilus 3.10.1.

Shell trace:

[code]

[2017-06-19 12:00] bilelmoussaoui commented on #33
Sorry but you need gtk 3.14+ in order to use the extension as we use a new widget only available in that version or newer

[2017-06-19 12:00] #33 closed

[2017-06-19 12:05] vlktomas commented on #33
I thought so. Thank you for the quick reply.

[2017-06-20 05:47] ninjagoat opened #34 "Performance issues with large repositories"
Cool extension but had to uninstall it for now as it really struggles to handle large repositories like Chromium. Nautilus freezes and the whole system crawls until it's force closed. Hope it will be fixed soon

Off topic - Could you please tell me the names of the theme and icon pack in the screenshots?

[2017-06-20 11:53] bilelmoussaoui commented on #34
Yeah; i have to make everything async for the next version :)
it's Paper icon theme with Adapta Gtk Theme

[2017-06-21 09:45] toMeloos opened #35 "Folder badges"
RabbitVCS Nautilus integration has the nice feature of adding badges to folders under version control. The badge icon also shows the status of the clone. Dropbox does a similar thing to show a folder is under dropbox management and the badge icon tells you the synchronization state.

It would be great if this could be implemented for nautilus-git. Perhaps with color/icon coding like:
- red = uncom

[2017-06-21 09:47] bilelmoussaoui commented on #35
That should be really easy to implement. But we do need some nice icons for that :+1:  If someone is willing to design them, i will implement this feature. As using the same emblems as Dropbox is not really the best idea.

[2017-06-21 09:56] toMeloos commented on #35
Probably no need to reinvent the wheel. I suggest adopting the RabbitVCS ones (especially since this project seems all but dead) which in turn adopted the TortoiseSVN ones.

https://github.com/rabbitvcs/rabbitvcs/tree/master/data/icons/hicolor/scalable/emblems

[2017-06-21 10:01] bilelmoussaoui commented on #35
@toMeloos They don't really fit with default theme on GNOME. Something that shows this information a little bit better would be nice :)
i will first fix the rest of the issues and then implement this one. I will use some default emblems until some designer step up to help me here

[2017-06-21 10:06] toMeloos commented on #35
:+1:

I agree they are ugly. Using the default ones is probably the way to go anyway, since that will keep it looking good and consistent with any icon set that users might apply when theming their desktop.

Looking forward to this enhancement :-)

[2017-06-22 21:23] octoxan opened #36 "More button and Branch switching missing?"
I have this setup with a bitbucket repo, and have "Open remote URL in a browser", but I do not have compare commits, or any way to switch branches like in screenshots?

[2017-06-22 22:44] bilelmoussaoui commented on #36
How did you installed the extension?

[2017-06-23 13:03] octoxan commented on #36
[code]

I am on 17.04, Ubuntu Budgie flavor... idk if that makes a difference...

[2017-06-23 13:04] bilelmoussaoui commented on #36
The ppa is outdated... Please install it manually to get the latest version

[2017-06-23 13:04] #36 closed

[2017-06-23 13:07] octoxan commented on #36
Can I install it manually over it, or should I uninstall first?

[2017-06-23 13:11] octoxan commented on #36
[code]
returns...

[code]

Tried maybe doing...

[code]

but that returns a different error...

[code]

[2017-06-23 13:14] bilelmoussaoui commented on #36
You need a newer version of Meson https://github.com/bil-elmoussaoui/nautilus-git/blob/master/meson.build#L3
`sudo pip3 install --upgrade meson` which will upgrade meson to the latest stable version

[2017-06-23 13:15] octoxan commented on #36
lol which I guess means I also need to install pip3, which apt install doesn't find automatically

[2017-06-23 13:21] octoxan commented on #36
Alright got pip3 installed and meson updated... now getting a new error after restarting terminal.

[code]

now returns...

[code]

but when I do a `sudo apt install glib-2.0` I get this...

[code]

Thanks for the help getting this set up btw

[2017-06-23 13:22] bilelmoussaoui commented on #36
Well, it's Ubuntu who doesn't update their packages ;-)
You need `libglib2.0-dev`

[2017-06-23 13:28] octoxan commented on #36
Thanks, got it all setup now.

Any chance the ppa will ever be updated?

[2017-06-23 13:39] bilelmoussaoui commented on #36
I don't know, it's not me who manages the PPA...

[2017-06-23 13:39] octoxan commented on #36
Oh gotcha. Was just curious. Keep up the awesome work, love this extension!

[2017-07-03 08:18] rytoj opened #37 "Make it work with Gitlight"
With Gitlab it seems not to work with nautilus.

Using Ubuntu 16.04.2 LTS
Nautilus       1:3.18.4.

[2017-07-04 09:43] bilelmoussaoui commented on #37
If you open Nautilus from terminal and went to that folder, do you have any output on terminal?

[2017-07-05 13:52] rytoj commented on #37
Let me clarify what I mean with screenshot:

![screenshot from 2017-07-05 16-48-08](https://user-images.githubusercontent.com/7567518/27867377-2138a44c-61a2-11e7-8b9f-584bad89be62.png)
this is example of gitlab project. The remote url is not displayed. Also there is no notifications in nautilus gui about project commits.

[2017-07-05 13:56] bilelmoussaoui commented on #37
Hmm, I will see what I can do about this. But this issue is already fixed on a beta branch as far as I know.

The notifications don't display anything about commits, but only the number of unstaged files (added, modified, removed) and you can click on that button to see a list of those files.
There should  be a lot of improvements once my open PR is ready to be merged (a new release is scheduled f

[2017-07-07 10:12] afranke opened #38 "Pull"
A pull button to get the latest changes from origin would be very useful. Bonus points if I can `--rebase`.

[2017-07-10 17:02] bilelmoussaoui commented on #38
I'm thinking of adding some basic git actions like commit, pull and push! But first i will concentrate on fixing other open issues ! For now, I'm a little busy. I will get back to this once i have some free time

[2017-07-11 15:24] luca-viggiani opened #39 "Question: how do I get compare (diff) window?"
I've istalled from AUR nautilus-ext-git,
The extension works fine and shows me the changed files list when I click on the pencil icon on top yellow bar. However if I select one of the files from the popup menu, nothing happens (I expect to have the compare window like the second screenshot in the README.md file).

Do I miss any (optional) dependency?
Thanks!

[2017-07-11 15:25] luca-viggiani commented on #39
...ok sorry... it's in "more.." menu... :(

[2017-07-11 15:25] #39 closed

[2017-07-11 15:49] bilelmoussaoui commented on #39
Glad you figured it out :+1:

[2017-08-09 13:57] mchwalisz commented on #14
What about just starting Meld (or similar) and spend effort on other features?

[2017-08-09 14:01] bilelmoussaoui commented on #14
@mchwalisz The whole feature is already on beta branch; i just need to find some time to clean the code a bit before merging it with master. Quite busy those days, i will try to do this as soon as i can :)

[2018-01-17 12:05] KSXGitHub opened #41 "Paste git repo url to clone"
### How it should work?

1. User _copies_ an URL that matches:
  * `https://github.com/<user name>/<repo name>`
  * `http(s)://*.git`
  * `git://*`
  * `git@...`

2. User _opens_ Nautilus and _pastes_ (either by <kbd>Ctrl + V</kbd> or by right-click context menu)

3. A dialog appears and asks user to name target directory (default to repo name)

[2018-01-17 12:06] bilelmoussaoui commented on #41
I'm planning to clean the code base of the extension and add some basic stuff like cloning a repository ;)

[2018-05-11 14:23] davidovitch opened #42 "python3 support"
Support for Python3 would be nice at some point (https://pythonclock.org/). I don't know about other distributions, but at least on Arch Linux you can chose between `python2-nautilus` or `python-nautilus` for the Python bindings.

A quick test on my Arch Linux system showed that `2to3` creates a version of the current master that works just like that with `python-nautilus`. I am sure you can make

[2018-06-07 08:20] csoriano1618 opened #43 "Port to gtk4"
Hello,

Carlos from Nautilus team here. We are [porting Nautilus to gtk4](https://gitlab.gnome.org/GNOME/nautilus/issues/276) for 3.30 (or 3.32 depending on our discussions with extension devs). We were wondering if would be possible for this extension to be ported to gtk4 too and what's the overall status of the extension.

Let me know if you have any question. Also feel free to reach me over #na

[2018-06-07 08:30] bilelmoussaoui commented on #43
Hey,
Thanks for opening this issue! I'm going to work on the next few days on a new version using libgit2 to improve the whole structure of the code.
I'm willing to keep my Nautilus extensions up to date and port them to gtk4.

[2018-06-07 08:31] bilelmoussaoui commented on #37
This will be fixed pretty soon with libgit2 port.

[2018-06-07 08:33] bilelmoussaoui commented on #43
By the way, is there a way to provide this extension for the flatpak version of Nautilus? This way I can try it using the gtk4 branch of Nautilus?

[2018-06-07 08:44] csoriano1618 commented on #43
cool! We will most probably delay it until 3.32 though, so there is time.

Unfortunately not, we are looking on making that work though. You can follow the progress (when there is any) in https://gitlab.gnome.org/GNOME/nautilus/issues/476

[2018-08-13 18:59] thedonquixotic opened #44 "Can't install from PPA on Ubuntu 18.04"
I got a deb to install it from OMG Ubuntu but that doesn't appear to be working....

[2018-08-13 19:03] jcklpe commented on #44
Ah there we go, got it working once I did a proper nautilus -q.

Styling is also off from all the previews I've seen but that could be because the server which my remotes are stored on are currently offline.

[2018-10-16 06:36] bilelmoussaoui commented on #44
Can you show a screenshot of the styling in your current system? must be related to the current gtk theme you're using...

[2018-11-28 15:47] MaxSchambach commented on #42
I felt the same way, see my PR #45 :)

[2018-11-28 16:11] bilelmoussaoui commented on #42
Fixed on master thanks to @MaxSchambach

[2018-11-28 16:11] #42 closed

[2019-02-14 15:18] fbruetting commented on #35
Why not just use the Git icon <img src="https://www.novatec-gmbh.de/wp-content/uploads/2013/07/logo-git.png" width="20"> and color it differently?

[2019-04-06 13:20] eexpress commented on #25
`dnf install libappstream-glib-devel`. I think you need add this into README. :D

[2019-04-06 13:36] eexpress opened #47 "how does "compare commits" works on?"
After ninja install and restart nautilus, a blue bar shown in git directory.

But the bar never change color or status,  even I change some files or comit in CLI or push. press F5(refresh) does not work. So how does it works.

BTW: only master branch here. Fedora 29 here.

[2019-04-06 17:22] bilelmoussaoui commented on #25
@eexpress mind sending a PR?

[2019-04-07 14:28] #47 closed

[2019-04-07 14:29] eexpress commented on #47
after reboot? it works now. but compare show some ansi color code.

[2019-05-05 17:22] webmastak opened #48 "No items"
No items. Streaked on the screenshot. How to activate them?

[![https://i.imgur.com/ruuT6tD.jpg](https://i.imgur.com/ruuT6tD.jpg)](https://i.imgur.com/ruuT6tD.jpg)
[code]

[2019-05-05 17:29] bilelmoussaoui commented on #48
You can't active those, it just give you an indicator of how many files you have changed on the current git repository.

[2019-05-05 17:31] webmastak commented on #48
**SOLVED, subject can be closed.**

In file: `/usr/share/nautilus-git/src/models/git.py`
Because of the Russian localization of the command, grep was empty.

[code]

Replaced with this and everything worked as it should.
[code]

[2019-09-05 15:50] jonatasalves-hotmart opened #49 "Fedora 30 with copr"
Hi,
When I run:
[code]
I get this error:
[code]
I tried to install the urllib / urlparse package in pip2/pip3 but I can't find them

[2019-09-29 05:00] ceiphr commented on #49
I was able to fix this by building from source. I hope there will be a fix for the copr version at some point.

[2019-12-25 15:41] #48 closed

[2020-04-13 19:21] eyecreate opened #50 "Does not support git urls starting with ssh://"
gitlab can be configured to start urls over ssh with ssh:// protocol. This is not picked up by this script.

example url:

[2020-08-18 23:42] AnirvanB commented on #35
We already have: https://github.com/chrisjbillington/git-nautilus-icons.

[2020-08-18 23:56] AnirvanB opened #51 "Popover Padding Issue"
@bilelmoussaoui

Hi Bilal, Thanks for the great extension. Just wanted to point a padding issue with the popover item. Please refer to the image below.

![WhatsApp Image 2020-08-17 at 1 21 10 AM](https://user-images.githubusercontent.com/44327359/90576128-e20f6000-e1da-11ea-870e-bb9bcb497525.jpeg)

[2020-09-19 05:22] archisman-panigrahi commented on #25
In Ubuntu 20.04, installing the package `appstream` solved a [similar issue](https://askubuntu.com/questions/1273027/debian-package-builds-in-my-computer-but-fails-to-build-in-launchpad-and-pbuild).

`libappstream-glib-dev` did not work in Ubuntu.

[2022-04-08 05:55] goncer opened #52 "ModuleNotFoundError: No module named 'urlparse'"
I found that this extension does not work correctly in my local,
It seems that either I dont have the right python version, or a missing module? But I did not find any requirements file :S
Any clue?

[code]
I tried with both versions of python

[code]
and
[code]
Thanks!

[2022-09-06 10:48] jtojnar commented on #43
The upcoming GNOME 43 changes the Nautilus API so this extension will break: https://gnome.pages.gitlab.gnome.org/nautilus-python/nautilus-python-migrating-to-4.html